<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css" />
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css" />
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css" />
	</head>

	<body>
		<section class="todoapp" id="todoapp">
			<header class="header">
				<h1>{{title}}</h1>
				<input
					class="new-todo"
					placeholder="What needs to done?"
					v-app-focus
					@keyup.enter="addItem"
				/>
			</header>
			<!-- This section should be hidden by default and shownfdfd whedsafdfdsfdsn there are todos -->
			<template v-if="items.length">
				<section class="main">
					<input
						v-model="toggleAll"
						id="toggle-all"
						class="toggle-all"
						type="checkbox"
					/>
					<label for="toggle-all">Mark all as complete</label>
					<ul class="todo-list">
						<li
							:class="{completed:item.complete, editing:item === currentItem}"
							v-for="(item, index) in filterItems"
						>
							<div class="view">
								<input class="toggle" type="checkbox" v-model="item.complete" />
								<label @dblclick="toEdit(item)">{{item.content}}</label>
								<button
									class="destroy"
									:value="item.id"
									@click="removeItem(index)"
								></button>
							</div>
							<input
								v-todo-focus="item === currentItem"
								@keyup.enter="finishEdit(item,index,$event)"
								@blur="finishEdit(item,index,$event)"
								@keyup.esc="cancleEdit"
								class="edit"
								:value="item.content"
							/>
						</li>
					</ul>
				</section>
				<!-- This footer should be hidden by default and shown when there are todos -->
				<footer class="footer">
					<!-- This should be `0 items left` by default -->
					<span class="todo-count"
						><strong>{{remaining}}</strong>{{remaining === 1 ? 'item' : "items"
						}} left</span
					>
					<!-- Remove this if you don't implement routing -->
					<ul class="filters">
						<li>
							<a :class="{selected: filrerStatus === 'all'}" href="#/">All</a>
						</li>
						<li>
							<a :class="{selected: filrerStatus === 'active'}" href="#/active">Active</a>
						</li>
						</li>
							<a :class="{selected: filrerStatus === 'complete'}" href="#/completed">Completed</a>
						</li>
					</ul>
					<!-- Hidden if no completed items are left ↓ -->
					<button
						class="clear-completed"
						@click="removeComplete"
						v-show="items.length > remaining"
					>
						Clear completed
					</button>
				</footer>
			</template>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="./node_modules/vue/dist/vue.js"></script>
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
